In [1]:
import pandas as pd 
import numpy as np

Creating the dataframe

In [2]:
data = {
    "Weight" : [2,4,5,3,6,5,7] , 
    "Price" : [35,60,20,50,50,55,60]     
}

df = pd.DataFrame(data)
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

Task 01:
Your objective is to manually compute the slope (M) and y-intercept (C) using
Ordinary Least Squares Linear Regression. Once determined, apply these values to
predict the price when the vegetable weight is 6.

Formul 1:

In [3]:
N = df.shape[0]
sum_x = df['Weight'].sum()
sum_y = df['Price'].sum()
sum_xy = (df['Weight'] * df['Price']).sum()
sum_x2 = (df['Weight'] * df['Weight']).sum()

slope_formula_1 = (N * sum_xy - sum_x * sum_y) / (N * sum_x2 - sum_x**2)
intercept_formula_1 = (sum_y - slope_formula_1 * sum_x) / N

print(slope_formula_1)
print(intercept_formula_1)

2.620967741935484
35.16129032258065

Prediction for Weight 6

In [4]:
slope_formula_1 * 6 + intercept_formula_1

50.88709677419355

Predicted price is 50.89

Formula 2:

In [8]:
mean_x = df['Weight'].mean()
mean_y = df['Price'].mean()

slope_formula_2 = (((df['Weight'] - mean_x) * (df['Price'] - mean_y)).sum()) / ((df['Weight'] - mean_x)**2).sum()
intercept_formula_2 = mean_y - slope_formula_2 * mean_x

print(slope_formula_2)
print(intercept_formula_2)

2.620967741935484
35.16129032258065

Prediction for Weight 6:

In [9]:
slope_formula_2 * 6 + intercept_formula_2

50.88709677419355

Prediction Price is 50.89

Task 02:
Compute the residuals for each data point.

In [19]:
df['y_hat'] = df.apply(lambda x: round(slope_formula_1 * x['Weight'] + intercept_formula_1 , 2) , axis = 1)

In [20]:
df

   Weight  Price  y_hat
0       2     35  40.40
1       4     60  45.65
2       5     20  48.27
3       3     50  43.02
4       6     50  50.89
5       5     55  48.27
6       7     60  53.51

In [21]:
df['Residual'] = df['Price'] - df['y_hat']

In [22]:
df

   Weight  Price  y_hat  Residual
0       2     35  40.40     -5.40
1       4     60  45.65     14.35
2       5     20  48.27    -28.27
3       3     50  43.02      6.98
4       6     50  50.89     -0.89
5       5     55  48.27      6.73
6       7     60  53.51      6.49

Task 03:
Calculate both the Mean Squared Error (MSE) and Mean Absolute Error (MAE).

In [24]:
#L1 loss
l1_loss = df['Residual'].abs().sum()
l1_loss

69.11

In [26]:
#L2 loss
l2_loss = (df.Residual**2).sum()
l2_loss

1171.2009